$theme: #E40425;
$info: #FCC14F;
$gray: #b8b8b8;


*{
  font-family: 'Roboto', sans-serif ;
}
a{
  cursor: pointer !important;
}
.pointer{
  cursor: pointer !important;
}
.margin-5{
  width: 100%;
  height: 5px;
  display: block;
  float: left;
}
.margin-10{
  width: 100%;
  height: 10px;
  display: block;
  float: left;
}
.margin-20{
  width: 100%;
  height: 20px;
  display: block;
  float: left;
}
.image-uploader{
  width: 100%;
  height: auto;
  display: inline-block;
  .image-selector{
    width: 100%;
    height: 200px;
    border: 3px dashed #222;
  }
}
.square-box{
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px dashed rgba(96, 96, 96, 0.75);
  border-radius: 4px;
  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  .square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    .inner-wrapper{
      width: 100%;
      height: auto;
      text-align: center;
      .btn{
        position: relative;
        .image-picker{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
  &.preview{
    border: none;
    .square-content{
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.marot{
  .ma_btn{
    background-color: $theme;
    border-color: $theme;
    &:active{
      background-color: $theme !important;
      border-color: $theme !important;
    }
    &:focus{
      background-color: $theme !important;
      border-color: $theme !important;
    }
    &.info{
      background-color: $info;
      border-color: $info;
      color: #fff !important;
      &:active{
        background-color: $info !important;
        border-color: $info !important;
      }
      &:focus{
        background-color: $info !important;
        border-color: $info !important;
      }
    }
    &.gray{
      background-color: $gray;
      border-color: $gray;
      color: #fff;
      &:active{
        background-color: $gray !important;
        border-color: $gray !important;
      }
      &:focus{
        background-color: $gray !important;
        border-color: $gray !important;
      }
    }
  }
  .link-active{
    text-decoration: none;
    color: $theme !important;
    a{
      color: $theme !important;
    }
    i{
      color: $theme !important;
    }
    span{
      color: $theme !important;
    }
  }
  .outline-btn{
    border-color: $theme;
    color: $theme;
    &:hover{
      background-color: $theme;
    }
    &:active{
      background-color: $theme !important;
      border-color: $theme !important;
    }
    &:focus{
      background-color: $theme !important;
      border-color: $theme !important;
    }
  }
  .disable-section{
    pointer-events: none;
  }
  .m-checkbox{
    &.m-checkbox--focus{
      input:checked ~ span{
        border: 1px solid $theme !important;
        &:after{
          border-color: $theme !important;
        }
      }
    }
  }
  .m-dropdown__wrapper{
    .m-dropdown__arrow{
      color: $theme !important;
    }
    .m-dropdown__inner{
      .m-dropdown__header{
        &.m--align-center{
          background-color: $theme !important;
          color: #fff !important;
          .m-card-user__details{
            .m-card-user__name{
              color: #fff;
            }
            .m-card-user__email{
              color: #fff;
            }
          }
        }
      }
    }
  }
  .w-link{
    color: #fff !important;
  }
  table{
    &.head-sm{
      tr{
        th{
          font-size: 12px;
        }
        td{
          font-size: 12px;
        }
      }
    }
  }
}
.status-btn{
  width: 100%;
  &.in_process{
    background-color: #FCC14F;
    border-color: #FCC14F;
  }
  &.in_print{
    background-color: #009FE3;
    border-color: #009FE3;
  }
  &.delivered{
    background-color: #5ABBA2;
    border-color: #5ABBA2;
  }
}
.active-btn{
  background-color: $theme;
  border-color: $theme;
}
.m-form__group{
  &.inline-text{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
}
.btn-group-marot{
  width: 100%;
  .status-btn{
    width: 100px;
    &.in_process{
      background-color: #FCC14F;
      border-color: #FCC14F;
    }
    &.in_print{
      background-color: #009FE3;
      border-color: #009FE3;
    }
    &.delivered{
      background-color: #5ABBA2;
      border-color: #5ABBA2;
    }
  }
}
.avatar-picker-wrapper{
  width: 100%;
  text-align: left;
  .avatar-picker{
    width: 200px;
    height: 200px;
    border: 3px dotted #dfdfdf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .inner-wrapper{
      width: 100%;
      height: auto;
      text-align: center;
    }
    .image-picker{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}